.top {
	background-image: url(pictures/light.jpg);
	width: 100%;
	background-attachment: relative;
  background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

.about {
	color: green;
}

.projects {
	background: pink;
}

.resume {
	background: ;
}

